@use "/assets/styles/base/variables/colors.scss" as variable;
@use "/assets/styles/mixins/media.scss" as media;


.text-white{
    color: variable.$white;
}

.font-bold{
    font-weight: bold;
} 
.font-semibold{
    font-weight: 600;
} 

.title-md-bottom-margin{
    display: block;
    margin-bottom: 40px;

    @include media.min-md{ 
        margin-bottom: 25px;
    }
}
.p-text-bottom-margin{
    margin-bottom: 20px;
}
.text-red{
    color: variable.$red
}
.text-center {
    text-align: center;
}
.m-auto {
    margin : auto;
}
.mt-4 {
    margin-top: 1rem;
}
.gap-4 {
    gap: 1rem;
}
.flex-baseline-wrap{
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
}