@use "/assets/styles/base/variables/colors.scss" as variable;
@use "/assets/styles/base/variables/media" as media;


.text-white{
    color: variable.$white;
}

.font-bold{
    font-weight: bold;
} 
.font-semibold{
    font-weight: 600;
} 

.title-md-bottom-margin{
    display: block;
    margin-bottom: 40px;

    @include media.min-md{ 
        margin-bottom: 25px;
    }
}