@use "./base/resets.scss";

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

body {
  font-family:
    "Open Sans",
    sans-serif,
    -apple-system,
    system-ui;
}
.nuxt-icon {
  width: unset !important;
  height: unset !important; 
  // width: -webkit-fit-content !important;
  // height: -webkit-fit-content !important;
  margin: 0 !important; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}