@use '/assets/styles/base/variables/colors.scss' as variable;
@use "/assets/styles/mixins/media.scss" as media;

body {
  color: variable.$black;
  background-color: variable.$white;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.page-content {
  flex: 1 0; 
  padding : 40px 0 20px 0;
  @include media.min-sm{
    padding : 60px 0 20px 0;
  }
  @include media.min-md{
    padding : 60px 0 100px 0;
  }
  @include media.min-lg{
    padding : 60px 0 90px 0;
  }
}
.container {
  padding: 0 20px;
  max-width: 100%;
  width: 100%;
  @include media.min-xl {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-overlay{
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: variable.$black-semi-transparize;
}
.overlay-appear-enter-active,
.overlay-appear-leave-active{ 
  transition: opacity 0.3s ease-out;
}

.overlay-appear-enter-to,
.overlay-appear-leave-from{
  opacity: 1;
} 
.overlay-appear-enter-from,
.overlay-appear-leave-to{
  opacity: 0;
} 
input::placeholder{
  color: variable.$gray-dark;
}
* + section {
  margin-top: 60px;
  @include media.min-sm{
    margin-top: 40px;
  }
}