$red: #e02d1f;
$black: #23242c;
$gray-dark: #696969;
$green: #2c6e6d;
$gray: #e2e2e2;
$light-gray: #f8f8f8;
$another-gray: #f9f9f9;
$white: #fff;

$black-semi-transparize: #00000075;
$black-transparize: #00000021;

$base-shadow : -4px 0px 10px 1px $black-transparize;