$red: #e02d1f;
$black: #23242c;
$gray-dark: #696969;
$green: #2c6e6d;
$gray: #e2e2e2; 
$light-gray: #f8f8f8;
$another-gray: #f9f9f9;
$white: #fff;

$black-semi-transparize: #00000075;
$black-transparize: #00000021;


$inner-shadow : 0px 4px 4px 0px #0000001A inset;
$base-shadow : -4px 0px 10px 1px $black-transparize;
$base-inpt-shadow : 0px 2px 4px 0px #0000001A;

$border-md : 8px;
$border-sm : 4px;